@use "vars.scss";
@use "mixins.scss";

.scroll-area
{
    border: none;
    background: vars.$color--elevation-level-4;
}

#scroll-area-info
{
    border-radius: 8px;
}

#scroll-area-word-list
{ 
   // @include mixins.border(vars.$color--elevation-level-4, 4);
    border-radius: 8px;
    background: vars.$color--elevation-level-4;

}

.scroll-area.scroll-area--with-scroll-bar
{
   padding-right: 8px;
}

.scroll-area.scroll-area--without-scroll-bar
{
    padding-right: 0px;
}

.text-edit.text-edit--with-scroll-bar
{
   padding-right: 8px;
}

.text-edit.text-edit--without-scroll-bar
{
    padding-right: 0px;
}

QScrollBar:vertical
{
    width: 24px;
    margin: 32px 0 32px 8px;
    
    border-radius: 4px;
    background-color: vars.$color--elevation-level-2;
}

QScrollBar::handle:vertical
{
    background: vars.$color--elevation-level-7;
    height: 4px;
    border-radius: 4px;

    &:hover
    {
        background: vars.$color--interactive-hovered-alt; 

        &:pressed
        {
            background: vars.$color--interactive-pressed-alt; 
        }
    }
}

QScrollBar::sub-line:vertical,
QScrollBar::add-line:vertical
{

    height: 16px;
    width: 16px;

    subcontrol-origin: margin;

    background: vars.$color--elevation-level-7;
    border-radius: 4px;

    &:hover
    {
        background: vars.$color--interactive-hovered-alt; 

        &:pressed
        {
            background: vars.$color--interactive-pressed-alt; 
        }
    }
}

QScrollBar::sub-line:vertical
{
    margin: 8px 0 4px 8px;
    border-image: url(assets/images/caret_up.svg) 0 0 0 0 stretch stretch;

    subcontrol-position: top;

    &:hover
    {
        border-image: url(assets/images/caret_up_alt.svg) 0 0 0 0 stretch stretch;

        &:pressed
        {
            border-image: url(assets/images/caret_up.svg) 0 0 0 0 stretch stretch;
        }
    }
}

QScrollBar::add-line:vertical
{
    margin: 4px 0 8px 8px;
    border-image: url(assets/images/caret_down.svg) 0 0 0 0 stretch stretch;
    
    subcontrol-position: bottom;

    &:hover
    {
        border-image: url(assets/images/caret_down_alt.svg) 0 0 0 0 stretch stretch;

        &:pressed
        {
            border-image: url(assets/images/caret_down.svg) 0 0 0 0 stretch stretch;
        }
    }
}

.text-edit
{
    QScrollBar::handle:vertical,
    QScrollBar::add-line:vertical,
    QScrollBar::sub-line:vertical
    {
        background: vars.$color--elevation-level-5; 

        &:hover
        {
            background: vars.$color--interactive-hovered-alt;
          
            &:pressed  
            {
                background: vars.$color--interactive-pressed; 
            }
        }
    }

    QScrollBar::sub-line:vertical
    {
        border-image: url(assets/images/caret_up_alt.svg) 0 0 0 0 stretch stretch;
    }

    QScrollBar::add-line:vertical
    {
        border-image: url(assets/images/caret_down_alt.svg) 0 0 0 0 stretch stretch;
    }
    
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical
{
    background: none;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
    background: none;
}



