/* #region Colors */

$color--elevation-level-0: "#121212";
$color--elevation-level-1: "#212121";
$color--elevation-level-2: "#343434";
$color--elevation-level-3: "#424242";
$color--elevation-level-4: "#545454";
$color--elevation-level-5: "#696969";
$color--elevation-level-6: "#808080";
$color--elevation-level-7: "#A9A9A9";
$color--elevation-level-8: "#C0C0C0";
$color--elevation-level-9: "#DCDCDC";


$color--font-default: whitesmoke;
$color--font-default-alt: "#121212";

$color--interactive-active: darkgreen;
$color--interactive-active-alt: mediumseagreen;
$color--interactive-hovered: royalblue;
$color--interactive-hovered-alt: deepskyblue;
$color--interactive-pressed: darkgray;
$color--interactive-pressed-alt: whitesmoke;
$color--interactive-danger: darkred;
$color--interactive-danger-alt: crimson;

/* #endregion */



/* #region Fonts */

$font--default: 500 16px "Titillium Web";

$font--tab-title: 600 20px "Titillium Web";
$font--group-title: 600 18px "Titillium Web";

$font--button-default: 600 18px "Titillium Web";

$font--text-edit: 500 20px "Titillium Web";
$font--line-edit: 500 16px "Titillium Web";

/* #endregion */
